.questionset-page {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;

  .view-question-set-container {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2rem;

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    }

    .question-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      max-width: 1400px;
      width: 100%;
    }

    .question-card {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      height: 500px;
      display: flex;
      flex-direction: column;

      .card-content {
        flex: 1;
        overflow: auto;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
      }

      .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-bottom: 1rem;

        .option {
          background-color: rgba(255, 255, 255, 0.2);
          padding: 1rem;
          border-radius: 5px;
          font-size: 1.2rem;
          cursor: pointer;
          transition: all 0.3s ease;

          &.correct {
            background-color: #34a830;
            color: #fff;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
          }

          &.incorrect {
            background-color: #ff6347;
            color: #fff;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
          }
        }
      }

      .explanation {
        label {
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        textarea {
          width: 95%;
          height: 100px;
          padding: 0.1rem;
          border-radius: 5px;
          border: none;
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          font-size: 1rem;
          resize: vertical;
          font-family: inherit;

          &:focus {
            outline: none;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}
