.forgot-password-page {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;

  .container {
    max-width: 800px;
    padding: 0 20px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }

  .forgot-password-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  input {
    width: 90%;
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }

  .submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #302b63;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .submit-btn:hover {
    background: #e0ac69;
    color: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }

  .submit-btn:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .recover {
    margin-top: 30%;
  }

  .recover a {
    text-decoration: none;
    color: white;
  }

  .recover a:hover {
    text-decoration: underline;
  }
}
